<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="TwitterConsumerKey" value="n3KL5QXdU0C4YwppdNmYQ"/>
    <add key="TwitterConsumerSecret" value="kl5GjEJr41XX560LD8sT1lU4dPodT11Hr0H9TI6Y"/>
    <add key="TwitterAuthorizeUrl" value="https://api.twitter.com/oauth/authorize"/>
  </appSettings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
